<div class="container">
<%# <div class="row col-12 text-center"> %>
  <% @articles.each do |article| %>
    <article>
      <h2><%= link_to article.title, article %></h2>
      <%= article.content[0..100] %>
    </article>
  <% end %>
  <%# </div> %>
</div>
